$fonts-base-folder: '../fonts' !default;

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('#{$fonts-base-folder}/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url('#{$fonts-base-folder}/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url('#{$fonts-base-folder}/Montserrat-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

:root {
  --font-family-text: arial, helvetica, sans-serif;
  --font-family-brand: montserrat, 'Segoe UI', tahoma, geneva, verdana, sans-serif;
}
