@use 'color-mixins';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  accent-color: var(--brand);
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  color: var(--text1);
  font-family: var(--font-family-text);
  background: var(--body-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: var(--font-family-brand);
  margin-block: 0;
}

p {
  line-height: 1.4;
}

input {
  color: var(--text1);
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  padding: 0;
  margin: 0;
  border: none;
}

input[type='number'] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}
