@use 'src/styles/ac-toggle';
@use 'number-input';
@use 'wheel-size';

.calc {
  padding-top: 5rem;
}

.calc__title {
  text-align: center;
  font-size: 3rem;
  font-size: clamp(2rem, 5vw, 3rem);
}

.calc__car {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc__form {
  font-family: var(--font-family-brand);
  padding: 2rem 0;
}

.calc-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.calc-form__group {
  padding: 0 2rem;
  height: 140px;
  margin: 1rem 0;

  &:not(:last-child) {
    border-right: 1px solid var(--surface3);
  }
}

.calc-form__group-label {
  font-weight: 200;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  color: var(--text2);
}

.calc-form__temperature {
  display: flex;
  flex-wrap: nowrap;
}
