.dark-mode {
  margin-top: 1rem;

  @media screen\0 {
    display: none;
  }
}

.dark-mode__toggle {
  display: flex;
  align-items: center;
}

.dark-mode__checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
