//.hero__image {
//  @supports (object-fit: cover) {
//    max-height: calc(90vh - 72px);
//    height: 50vw;
//    width: 100vw;
//    object-fit: cover;
//  }
//}

// object-fit and @supports queries aren't supported in IE11. The workaround:

.hero {
  height: 50vw;
  height: clamp(200px, 50vw, calc(90vh - 72px));
  overflow: hidden;
  position: relative;

  .hero__image {
    max-width: 100%;
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}
