<h1 class="calc__title">Range per Charge</h1>

<include src="./car-image.html"></include>

<div class="car-km-ranges">
  <div class="car-km">
    <div class="car-km__brand">
      <include src="./car-100d-picture.html"></include>
    </div>
    <div class="km-indicator">
      <span id="100d-km" class="km-indicator__value">400</span>
      <span class="km-indicator__unit">KM</span>
    </div>
  </div>

  <div class="car-km">
    <div class="car-km__brand">
      <include src="./car-p100d-picture.html"></include>
    </div>
    <div class="km-indicator">
      <span id="p100d-km" class="km-indicator__value">400</span>
      <span class="km-indicator__unit">KM</span>
    </div>
  </div>
</div>
