<h1 class="calc__title">Range per Charge</h1>

<include src="./car-image.html"></include>

<div class="car-km-ranges">
  <div class="car-km">
    <div class="car-km__brand">
      <picture>
        <source media="(max-width: 500px)" srcset="../images/100d.png" />
        <source media="(min-width: 501px)" srcset="../images/100d@2x.png" />
        <img class="car-km__logo" src="../images/100d@2x.png" aria-hidden="true" alt="" />
      </picture>
    </div>
    <div class="km-indicator">
      <span id="100d-km" class="km-indicator__value">400</span>
      <span class="km-indicator__unit">KM</span>
    </div>
  </div>

  <div class="car-km">
    <div class="car-km__brand">
      <picture>
        <source media="(max-width: 500px)" srcset="../images/p100d.png" />
        <source media="(min-width: 501px)" srcset="../images/p100d@2x.png" />
        <img class="car-km__logo" src="../images/p100d@2x.png" aria-hidden="true" alt="" />
      </picture>
    </div>
    <div class="km-indicator">
      <span id="p100d-km" class="km-indicator__value">400</span>
      <span class="km-indicator__unit">KM</span>
    </div>
  </div>
</div>
