<div class="car">
  <div class="car__inner">
    <picture id="car-image-light">
      <source media="(max-width: 700px)" srcset="../images/car-base.jpg" />
      <source media="(min-width: 701px)" srcset="../images/car-base@2x.jpg" />
      <img
        class="car__image"
        src="../images/car-base@2x.jpg"
        alt="Tesla car kilometer calculator"
      />
    </picture>
    <picture id="car-image-dark" style="display: none">
      <source media="(max-width: 700px)" srcset="../images/car-base-dark.png" />
      <source media="(min-width: 701px)" srcset="../images/car-base@2x-dark.png" />
      <img
        class="car__image"
        src="../images/car-base@2x-dark.png"
        alt="Tesla car kilometer calculator"
      />
    </picture>
    <picture>
      <source media="(max-width: 700px)" srcset="../images/car-wheel.png" />
      <source media="(min-width: 701px)" srcset="../images/car-wheel@2x.png" />
      <img
        class="car__wheel car__wheel--right"
        src="../images/car-wheel@2x.png"
        aria-hidden="true"
        alt=""
      />
    </picture>
    <picture>
      <source media="(max-width: 700px)" srcset="../images/car-wheel.png" />
      <source media="(min-width: 701px)" srcset="../images/car-wheel@2x.png" />
      <img
        class="car__wheel car__wheel--left"
        src="../images/car-wheel@2x.png"
        aria-hidden="true"
        alt=""
      />
    </picture>
  </div>
</div>
