<div class="row">
  <div class="col">
    <h3 class="footer__col-title">Contact Us</h3>
    <ul class="footer__links-list">
      <li class="footer__list-item">
        <a class="footer__item-link" href="tel:+44345678903">+44 345 678 903</a>
      </li>
      <li class="footer__list-item">
        <a class="footer__item-link" href="mailto:adobexd@mail.com">adobexd@mail.com</a>
      </li>
      <li class="footer__list-item"><a class="footer__item-link" href="#">Find a Store</a></li>
    </ul>
  </div>
  <div class="col">
    <h3 class="footer__col-title">Customer Service</h3>
    <ul class="footer__links-list">
      <li class="footer__list-item"><a class="footer__item-link" href="#">Contact Us</a></li>
      <li class="footer__list-item">
        <a class="footer__item-link" href="#">Ordering & Payment</a>
      </li>
      <li class="footer__list-item"><a class="footer__item-link" href="#">Shipping</a></li>
      <li class="footer__list-item"><a class="footer__item-link" href="#">Returns</a></li>
      <li class="footer__list-item"><a class="footer__item-link" href="#">FAQ</a></li>
    </ul>
  </div>
  <div class="col">
    <h3 class="footer__col-title">Information</h3>
    <ul class="footer__links-list">
      <li class="footer__list-item">
        <a class="footer__item-link" href="#">About this example</a>
      </li>
      <li class="footer__list-item"><a class="footer__item-link" href="#">Work With US</a></li>
      <li class="footer__list-item">
        <a class="footer__item-link" href="#">Privacy Policy</a>
      </li>
      <li class="footer__list-item">
        <a class="footer__item-link" href="#">Terms & Conditions</a>
      </li>
      <li class="footer__list-item">
        <a class="footer__item-link" href="#">Press Enquiries</a>
      </li>
    </ul>
  </div>
  <div class="col col--2x">
    <h3 class="footer__col-title">Subscribe to us via Email</h3>
    <div class="subscribe">
      <p class="subscribe__description">
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      </p>
      <form class="subscribe__form" action="#" target="_blank">
        <input
          type="email"
          class="subscribe__email-input"
          name="email"
          inputmode="email"
          autocomplete="email"
          placeholder="Email address"
        />
        <button type="submit" class="subscribe__submit-button">Subscribe</button>
      </form>
    </div>
  </div>
</div>
