<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="color-scheme" content="dark light" />
<link rel="icon" href="../images/favicons/favicon.ico?raw" sizes="any" /><!-- 32×32 -->
<link rel="icon" href="../images/favicons/favicon.svg?raw" type="image/svg+xml" />
<link rel="apple-touch-icon" href="../images/favicons/apple-touch-icon.png?raw" /><!-- 180×180 -->
<link rel="manifest" href="../manifest.webmanifest?raw" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Array.prototype.forEach,Array.prototype.map,Array.prototype.reduce,console,document,Event,fetch,globalThis,localStorage,Map,Object.assign,Promise,Set,Symbol,Symbol.iterator,WeakMap"></script>
<script
  nomodule
  src="https://cdn.jsdelivr.net/npm/formdata-polyfill@4.0.10/formdata.min.js"
></script>
<title>Tesla Model S - Battery Calculator</title>
<meta
  property="description"
  content="Calculate the maximum range of kilometers for Tesla Model S under different circumstances"
/>
<meta property="og:title" content="Tesla Model S" />
<meta property="og:image" content="../images/hero-image.png" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Tesla" />
<meta
  property="og:description"
  content="Calculate the maximum range of kilometers for Tesla Model S under different circumstances"
/>
