<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="color-scheme" content="dark light" />
<link rel="icon" href="../images/favicons/favicon.ico?raw" sizes="any" /><!-- 32×32 -->
<link rel="icon" href="../images/favicons/favicon.svg?raw" type="image/svg+xml" />
<link rel="apple-touch-icon" href="../images/favicons/apple-touch-icon.png?raw" /><!-- 180×180 -->
<link rel="manifest" href="../manifest.webmanifest?raw" />
