<a class="skip-to-main-link" href="#main">Skip to main content</a>
<header>
  <div class="logo"><img src="../images/logo.svg" alt="TESLA Logo" height="16px" /></div>
  <nav class="nav">
    <div class="nav__inner">
      <ul class="nav__menu container">
        <li class="nav__menu-item"><a href="#" class="nav__menu-link">Model S</a></li>
        <li class="nav__menu-item"><a href="#" class="nav__menu-link">Model X</a></li>
        <li class="nav__menu-item"><a href="#" class="nav__menu-link">Model 3</a></li>
        <li class="nav__menu-item"><a href="#" class="nav__menu-link">Roadster</a></li>
        <li class="nav__menu-item"><a href="#" class="nav__menu-link">Energy</a></li>
      </ul>
    </div>
  </nav>
  <div class="hero">
    <picture>
      <source media="(max-width: 700px)" srcset="../images/hero-image.jpg" />
      <source media="(min-width: 701px)" srcset="../images/hero-image@2x.jpg" />
      <img
        class="hero__image"
        src="../images/hero-image@2x.jpg"
        alt="A picture of Tesla car"
        width="1400"
        height="800"
      />
    </picture>
  </div>
  <!-- <img
      srcset="../images/hero-image.png 700w, ../images/hero-image@2x.png 1400w"
      sizes="(max-width: 700px) 700px,
          1400px"
      src="../images/hero-image@2x.png"
      alt="A picture of Tesla car"
      style="height: 50vw; width: 100vw"
    /> -->
</header>
