<section id="intro" class="container intro">
  <h1 class="intro__title">Far far away, behind the word mountains…</h1>
  <p class="intro__description">
    A small river named Duden flows by their place and supplies it with the necessary regelialia. It
    is a paradisematic country, in which roasted parts of sentences fly into your mouth.
  </p>
  <div class="intro__scroll-button">
    <a class="scroll-to-calculator" href="#range-calculator">
      <icon
        class="scroll-to-calculator__icon"
        src="../images/icon-chevron-down.svg"
        alt="Scroll to calculator"
        width="30px"
        height="20px"
      ></icon>
    </a>
  </div>
</section>
